Flask==2.0.3
requests
plotly==5.7.0
dash==2.0.0
dash-leaflet==0.1.23
dash-html-components==2.0.0
dash-core-components==2.0.0
dash-bootstrap-components==1.2.1
pandas==1.1.5
dash-table==5.0.0
mapbox==0.18.1
mapboxgl==0.10.2
gunicorn==20.1.0
Flask-Compress==1.13
geopandas==0.9.0
werkzeug>=2.1.0