flask
requests
json
plotly
dash
dash-leaflet
dash-html-components
dash-core-components
dash-bootstrap-components
pandas
dash-table
plotly.express
mapbox
dash-renderer
gunicorn
flask-compress
geopandas
werkzeug>=2.1.0